<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.vm.user.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch.vm.user.entity.Menu">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="name" property="name" />
        <result column="iconCls" property="iconCls" />
        <result column="parentId" property="parentId" />
        <result column="enabled" property="enabled" />
        <result column="dis_path" property="disPath" />
        <result column="dis_component" property="disComponent" />
        <result column="dis_keepAlive" property="disKeepalive" />
        <result column="dis_requireAuth" property="disRequireauth" />

        <collection property="roles" ofType="com.ch.vm.user.entity.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnamezh" property="nameZh"/>
        </collection>

        <collection property="children" ofType="com.ch.vm.user.entity.Menu">
            <id column="id2" property="id"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR"/>
            <collection property="children" ofType="com.ch.vm.user.entity.Menu">
                <id column="id3" property="id"/>
                <result column="name3" property="name" jdbcType="VARCHAR"/>
            </collection>
        </collection>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, url, name, iconCls, parentId, enabled, dis_path, dis_component, dis_keepAlive, dis_requireAuth
    </sql>
    <select id="getAllMenu" resultMap="BaseResultMap">
       select m.*,r.`id` as rid,r.`name` as rname,r.`nameZh` as rnamezh from vm_menu m left join vm_menu_role mr on m.`id`=mr.`mid` left join vm_role r on mr.`rid`=r.`id` WHERE m.`enabled`=true order by m.`id` desc
       </select>
</mapper>
