<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.vm.vod.mapper.ResourceClassifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch.vm.vod.entity.ResourceClassify">
        <id column="Id" property="Id" />
        <result column="resourceType" property="resourceType" />
        <result column="resourceClassify" property="resourceClassify" />
        <result column="createUserId" property="createUserId" />
        <result column="createTime" property="createTime" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, resourceType, resourceClassify, createUserId, createTime
    </sql>



</mapper>
