<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.vm.websiteInformation.mapper.SiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ch.vm.websiteInformation.entity.Site">
        <id column="id" property="id" />
        <result column="sitename" property="sitename" />
        <result column="KeepOnrecord" property="KeepOnrecord" />
        <result column="copyright" property="copyright" />
        <result column="footer" property="footer" />
        <result column="contact" property="contact" />
        <result column="logo" property="logo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sitename, KeepOnrecord, copyright, footer, contact, logo
    </sql>

</mapper>
